##########################################
# Use DETAIL to get fitness and phenotype
# of test organism in given environment
##########################################
# g: genome to be loaded
SET g lxwjasgcezjsqhzvmlaulcvujcylbnmxnmtcxpyotsvwakibyylkycewcyuyyuywlybtiniuniiolmixvcqyvnkczbzvvvvvvfcxgauxwma
# d: vale of nand
SET d 1
# t: valut of not
SET t 1
#########################################

LOAD_SEQUENCE $g

SetReactionValue NAND $d
SetReactionValue NOT $t

RECALC

# Store with name "dat"; this file will be moved and renamed immediately.
DETAIL dat sequence task.0 task.1

